BOT_TOKEN=

GIGACHAT_AUTH_KEY=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat
GIGACHAT_VERIFY_SSL=1

DB_HOST=db
DB_NAME=tps
DB_USER=tps
DB_PASSWORD=tps
DB_PORT=5432

JSON_PATH=data/videos.json
SKIP_TRUNCATE=0
